.board {
    background: #BBADA0;
    height: 30em;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 2.5em;
    border-radius: 5px;
}
.row {
    display: grid;
    gap: 0.5em;
    margin: 0.5em;
    grid-template-rows: repeat(4,1fr);
}
.square {
    background: #CDC1B4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    color: #776E65;
    font-weight: bold;
    font-size: 3.5em;
    /* transition: transform 0.5s; */
}
.square:hover #two {
    transform: translateY(100%);
}