.board {
    background: #D7C0AE;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0.5em;
    margin-top: 2.5em;
    border-radius: 5px;
}
.row {
    /* background: #A4907C; */
    display: grid;
    gap: 0.5em;
    margin: 0.5em;
}
.square {
    /* background: #D7C0AE; */
    /* margin: 0.5em; */ 
    padding: 1em;
    display: flex;
    justify-content: center;
    border-radius: 2px;
}