.heading {
    display: flex;
    justify-content: space-between;
}
h1 {
    font-size: 5em;
    color: #776E65;
    margin-top: 0.5em;
}
.scorebox {
    display: flex;
}
.currentscore, .bestscore {
    background: #BBADA0;
    color: white;
    font-weight: bold;
    font-size: 1em;
    margin: 1em;
    padding: 0.5em;
    max-height: 60px;
    min-width: 70px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bestscore {
    margin-right: 0;
}

