.newGameBox {
    /* background-color: beige; */
    display: flex;
    justify-content: space-between;
}
.newGameButton {
    background: #4E3636;
    color: white;
    font-weight: bold;
    padding: 0.5em;
    border: none;
    border-radius: 2px;
}
.newGameBox p,a {
    color: #D7C0AE;
}