.newGameBox {
    display: flex;
    justify-content: space-between;
}
.newGameButton {
    background: #776E65;
    color: white;
    font-weight: bold;
    font-size: 1em;
    padding: 0.5em;
    border: none;
    border-radius: 2px;
}
.newGameBox p, .newGameBox a {
    color: #776E65;
    font-size: 1.2em;
}
.newGameButton {
    cursor: pointer;
}